{% extends 'base.html' %}

{% block head %}
<title>SQL Query Tester</title>
<!-- Aggiungi Bootstrap -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.0/codemirror.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.0/addon/hint/show-hint.css">
{% endblock %}

{% block content %}

<!-- Include la navbar -->
{% include 'navbar.html' %}
<div class="container-fluid">
    <div class="row">
        <!-- Storico delle query -->
        <div class="col-md-3">
            <!--            <h5>Query History</h5>-->
            <!--            <ul class="list-group" id="history">-->
            <!--                {% for query in query_history %}-->
            <!--                <li class="list-group-item storico-item">{{ query }}</li>-->
            <!--                {% endfor %}-->
            <!--            </ul>-->

            <h5>Query History</h5>
            <ul class="history-list">
                {% for query in query_history %}
                <li class="history-item">{{ query }}</li>
                {% endfor %}
            </ul>
        </div>

        <!-- Editor centrale per inserire la query -->
        <div class="col">
            <h2 class="text-center">SQL Query Tester</h2>

            {% if selected_db %}
            <form id="query-form">
                <label for="editor"></label><textarea id="editor" name="query" class="form-control"
                                                      placeholder="Write your SQL query here..."></textarea>
                <button type="submit" class="btn btn-primary mt-3">Execute Query</button>
            </form>

            <!-- Risultati della query -->
            <div id="results" class="mt-4"></div>
            {% else %}
            <p class="text-danger">Please select a database to execute queries.</p>
            {% endif %}
        </div>

        {% include 'tables.html' %}

    </div>
</div>
<!-- Codemirror e jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.0/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.0/mode/sql/sql.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.0/addon/hint/show-hint.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.0/addon/hint/sql-hint.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    // tablesAndColumns= {
    //     {% for table, columns in tables.items() %}
    //         "{{ table }}": [
    //             {% for column in columns %}
    //                 "{{ column }}"{% if not loop.last %}, {% endif %}
    //             {% endfor %}
    //         ]{% if not loop.last %}, {% endif %}
    //     {% endfor %}
    // };
    //
    var tablesAndColumns = {{ tables_and_columns | safe }}

</script>


<script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}
