{% extends 'base.html' %}

{% block head %}
<title>SQL Query Tester</title>
<!-- Aggiungi Bootstrap -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.0/codemirror.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.0/addon/hint/show-hint.css">
{% endblock %}

{% block content %}

<!-- Include la navbar -->
{% include 'navbar.html' %}
<div class="container-fluid">
    {% if selected_db %}
    <div class="d-flex flex-row">
        <div class=" compressed col-history" id="left-col">
            <div class="compressed-title">
                <h5 class="">History</h5>
                <button class="btn btn-light expand-btn" onclick="toggleExpand('left-col')" id="lock-btn-left-col">
                    <i class="fas fa-lock-open expand-btn"></i>
                </button>
            </div>
            <div class="column-content">
                <ul class="history-list">
                    {% for query in query_history %}
                    <li class="history-item">{{ query }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <!-- Editor centrale per inserire la query -->
        <div class="flex-grow-1 mx-3">
            <h2 class="text-center">SQL Query Tester</h2>

            {% if selected_db %}
            <form id="query-form">
                <label for="editor"></label><textarea id="editor" name="query" class="form-control"
                                                      placeholder="Write your SQL query here..."></textarea>
                <button type="submit" class="btn btn-primary mt-3">Execute Query</button>
            </form>
            {% else %}
            <p class="text-danger">Please select a database to execute queries.</p>
            {% endif %}

            <!-- Risultati della query -->
            <!--            <div id="results" class="mt-4"></div>-->
        </div>
        <div class=" compressed col-tables" id="right-col">
            <div class="compressed-title">
                <button class="btn btn-light expand-btn" onclick="toggleExpand('right-col')" id="lock-btn-right-col">
                    <i class="fas fa-lock-open expand-btn"></i>
                </button>
                <h5 class="text-end">Tabelle e Attributi</h5>
            </div>
            <div class="column-content">
                {% include 'tables.html' %}
            </div>
        </div>
    </div>
    <div class="d-flex flex-row justify-content-center">
        <!-- Risultati della query -->
        <div class="mt-4">
            <h5 id="count" class=""></h5>
            <div id="results" class=""></div>
        </div>

    </div>
    {% else %}
    <select class="form-select me-2" id="db_name" name="db_name" onchange="this.form.submit()">
        <option selected disabled>Select a database...</option>
        {% for db in available_dbs %}
        <option value="{{ db }}" {% if db== selected_db %}selected{% endif %}>{{ db }}</option>
        {% endfor %}
    </select>
    {% endif %}


</div>
<!-- Codemirror e jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.0/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.0/mode/sql/sql.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.0/addon/hint/show-hint.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.0/addon/hint/sql-hint.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% include 'script.html' %}

<script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}
