<nav class="navbar navbar-expand-md navbar-light bg-light">
    <!--    <div class="container-fluid">-->
    <a class="navbar-brand" href="#">Esercitatore SQL</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Selettore del database -->
        <form action="{{ url_for('query_bp.choose_db') }}" method="POST" class="d-flex">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <span class="nav-link">Database</span>
                </li>
            </ul>
            <select class="form-select me-2" id="db_name" name="db_name" onchange="this.form.submit()">
                <option selected disabled>Select a database...</option>
                {% for db in available_dbs %}
                <option value="{{ db }}" {% if db==selected_db %}selected{% endif %}>{{ db }}</option>
                {% endfor %}
            </select>
        </form>
        <!-- Toggle per modalità offline -->
        <div class="form-check form-switch ms-3 d-flex align-items-center">
            <input class="form-check-input" type="checkbox" id="offlineToggle" onchange="toggleOffline()">
            <label class="form-check-label ms-2 d-flex align-items-center" for="offlineToggle">
            <span id="offlineIcon" class="me-1">
                <i class="bi bi-cloud-check"></i> <!-- Icon for online mode -->
            </span>
            Offline Mode
            </label>
        </div>

        <script>
            function toggleOffline() {
            const offlineToggle = document.getElementById('offlineToggle');
            const offlineIcon = document.getElementById('offlineIcon');
            if (offlineToggle.checked) {
                offlineIcon.innerHTML = '<i class="bi bi-cloud-slash"></i>'; // Icon for offline mode
            } else {
                offlineIcon.innerHTML = '<i class="bi bi-cloud-check"></i>'; // Icon for online mode
            }
            }
        </script>

        <ul class="navbar-nav flex-row d-flex nav-item-right">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('history_bp.logout') }}">Logout ({{ user.username}})</a>
            </li>
        </ul>
    </div>
</nav>