<!-- Colonna destra per visualizzare le tabelle e gli attributi -->
    {% if tables %}
    <ul class="table-list">
        {% for table, columns in tables.items() %}
        <li class="table-item">
            <strong>{{ table }}</strong>
            <ul class="column-list">
                {% for column in columns %}
                <li>{{ column }}</li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p class="text-danger">No tables available for the selected database.</p>
    {% endif %}